[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/dead-simple"]
	path = themes/dead-simple
	url = https://github.com/barklan/hugo-dead-simple
